.background-parch  {
    position: absolute;
    display: flex;
      width: 75%;
    min-height: calc((1vw + 1vh) * 15);
    /* center page with absolute position */
    top: 0%; left: 50%; transform: translate(-50%, 0);
    margin: 6em 0;
      padding: 4em;
      box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
      background: #fffef0;
  }